In [ ]:
#NOME: NATÁLIA DOS SANTOS

In [1]:
# 1) BASE DE DADO UTILIZADA: FIES - DADOS ABERTOS - MEC

In [1]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: numpy>=1.18.5 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [2]:
import pandas as pd

arquivo = "relatorio_inscricao_dados_abertos_fies_12021.csv"
df = pd.read_csv(arquivo, sep=';', encoding= 'latin1', nrows=1000)

df.head()

,Ano do processo seletivo,Semestre do processo seletivo,ID do estudante,Sexo,Data de Nascimento,UF de residência,Municipio de residência,Etnia/Cor,Pessoa com deficiência?,Tipo de escola no ensino médio,...,Ano do Enem,Redação,Matemática e suas Tecnologias,"Linguagens, Códigos e suas Tec",Ciências Natureza e suas Tec,Ciências Humanas e suas Tec,Situação Inscrição Fies,Percentual de financiamento,Semestre do financiamento,Qtde semestre financiado
0,2021,1,205517284,M,22/12/88,PR,CURITIBA,PARDA,SIM,SIM,...,2017,460,"363,5","489,8",507,"430,4",PARTICIPACAO CANCELADA PELO CANDIDATO,NaN,,NaN
1,2021,1,205507810,M,10/08/01,PR,CURITIBA,BRANCA,NÃO,NÃO,...,2019,620,"636,8","538,9","519,1","591,2",CONTRATADA,"54,26",1º,8.0
2,2021,1,205486536,M,18/03/02,PR,CURITIBA,BRANCA,NÃO,SIM,...,2020,640,681,"585,2","522,8",553,PARTICIPACAO CANCELADA PELO CANDIDATO,NaN,,NaN
3,2021,1,205519487,F,21/04/95,AM,PARINTINS,PARDA,NÃO,SIM,...,2012,820,"687,5","605,6","539,1","594,9",NÃO CONTRATADO,NaN,,NaN
4,2021,1,205519487,F,21/04/95,AM,PARINTINS,PARDA,NÃO,SIM,...,2012,820,"687,5","605,6","539,1","594,9",NÃO CONTRATADO,NaN,,NaN

In [3]:
#2) criar função própria:

In [4]:
def calcular_media(df, Redação):
    media = df[Redação].mean()
    print("A média de Redações é: " + str(media))
    
calcular_media(df, 'Redação')

A média de Redações é: 697.96

In [5]:
#3) Estrutura de repetição e condição:

In [6]:
valor_min = 300.00
contador = 0

for index, row in df.iterrows():
    if row['Redação'] > valor_min:
        contador += 1
        
print(f"A quantidade de notas de Redação acima de", valor_min, "foram:", contador)

A quantidade de notas de Redação acima de 300.0 foram: 994

In [7]:
#4) Funções especiais:

In [17]:
from functools import reduce

df['Linguagens, Códigos e suas Tec'] = pd.to_numeric(df['Linguagens, Códigos e suas Tec'], errors='coerce')
df = df.dropna(subset=['Linguagens, Códigos e suas Tec'])

media_notas = reduce(lambda x, y: x + y, df['Linguagens, Códigos e suas Tec']) / len(df['Linguagens, Códigos e suas Tec'])
print("A média das notas de Linguagens, Códigos e suas Tecnologias em 2021 foi:", round(media_notas, 2))

A média das notas de Linguagens, Códigos e suas Tecnologias em 2021 foi: 567.92

In [ ]:
#5) Resumo estatístico:

In [19]:
import pandas as pd
import statistics

arquivo = "relatorio_inscricao_dados_abertos_fies_12021.csv"
df = pd.read_csv(arquivo, sep=';', encoding='latin1', nrows=1000)

def nota_maior_igual_sete(row):
    nota = float(row['Matemática e suas Tecnologias'].replace(',', '.')) if isinstance(row['Matemática e suas Tecnologias'], str) else row['Matemática e suas Tecnologias']
    return nota >= 7

df_filtrado = list(filter(nota_maior_igual_sete, df.to_dict('records')))

notas = [float(row['Matemática e suas Tecnologias'].replace(',', '.')) for row in df_filtrado]

soma_notas = sum(notas)
media_notas = soma_notas / len(notas)
mediana_notas = statistics.median(notas)

print("A soma das notas de Matemática e suas Tecnologias é:", soma_notas)
print("A média das notas de Matemática e suas Tecnologias é:", media_notas)
print("A mediana das notas de Matemática e suas Tecnologias é:", mediana_notas)

A soma das notas de Matemática e suas Tecnologias é: 606505.9999999995
A média das notas de Matemática e suas Tecnologias é: 606.5059999999995
A mediana das notas de Matemática e suas Tecnologias é: 608.55

In [ ]:
#6) Publicação usando Quarto:

ModuleNotFoundError: No module named 'quarto'

In [ ]:
quarto render PROVA_PROGRAMAÇÃO.ipynb.ipynb --to html